{% extends 'cliente/base.html' %}
{% block content %}
<h2>Inventarios</h2>
<a href="{% url 'agregar_inventario' %}" class="btn btn-primary mb-3"><i class="bi bi-box"></i> Agregar Inventario</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Videojuego</th>
            <th>Sucursal</th>
            <th>Nombre Juego</th>
            <th>Plataforma</th>
            <th>Proveedor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for inventario in inventarios %}
        <tr>
            <td>{{ inventario.id }}</td>
            <td>{{ inventario.videojuego.nombre }}</td>
            <td>{{ inventario.sucursal.direccion }}</td>
            <td>{{ inventario.nombre_juego }}</td>
            <td>{{ inventario.plataforma }}</td>
            <td>{{ inventario.proveedor.nombre }}</td>
            <td>
                <a href="{% url 'actualizar_inventario' inventario.id %}" class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i> Editar</a>
                <a href="{% url 'borrar_inventario' inventario.id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Borrar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
